<!DOCTYPE html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Schedule Manager</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- JavaScript -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="static/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="static/js/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="static/js/jquery.fileupload-ui.js"></script>

<!-- StyleSheet -->
<link rel="stylesheet" href="static/css/bootstrap.css" />
<link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
<style>
body{background-color: #F7F7F6;}
.login{padding-top: 65px;}
.center{float: none; margin-left: auto; margin-right: auto;}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

</head>

<body>
<!-- Nav Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </a>

    <a href="#" class="brand">Schedule Manager</a>

    <div class="nav-collapse collapse pull-right">
        <ul class="nav">
            <li><a href="{{dash_redir}}"><i class="icon-user icon-white"></i>Dashboard</a></li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
    </div>
  </div>
</div>
<!-- Nav Bar Ends -->

<!-- Log In Container -->
<div class="container login">
    <div class="row ">
        <div class="center span8 well">
<form role="form" method="POST" action="/create_event">


<!-- Form Name -->
<legend>Create Event</legend>
{% if incorrect %}
<div class="alert alert-error">
<a class="close" data-dismiss="alert" href="#">×</a>Event has failed to create! You must fill in the date, the time, the location, and the name!
</div>
{% endif %}

<!-- Text input-->
<div class="form-group">
    <label for="txtTitle">Event Name</label>

    <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md">

</div>

<!-- Textarea -->
<div class="form-group">
    <label for="txtPost">Description</label>

    <textarea class="form-control" id="description" name="description"></textarea>

</div>

<!-- Text input-->
<div class="form-group">
    <label for="txtTitle">Date: yyyy-mm-dd</label>

    <input id="date" name="date" type="text" placeholder="yyyy-mm-dd" class="form-control input-md">

</div>

<!-- Text input-->
<div class="form-group">
    <label for="txtTitle">Start Time: hh:mm:ss</label>

    <input id="start_time" name="start_time" type="text" placeholder="hh:mm:ss" class="form-control input-md">

</div>

<!-- Text input-->
<div class="form-group">
    <label for="txtTitle">End Time: hh:mm:ss</label>

    <input id="end_time" name="end_time" type="text" placeholder="hh:mm:ss" class="form-control input-md">

</div>

<div class="form-group">
  <label for="txtPost">Event Location</label>
  <div class="dropdown locations">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" name="locate" id="locate">Available Locations
    <span class="caret"></span></button>
    <ul class="dropdown-menu" id="location">
      {%for row in locations%}
    <li><a href="#">{{ row }} </a></li>
        {% endfor %}
    </ul>
  </div>
  <input type="hidden" name="location_hid" id="location_hid" value="" type="text"></input>
</div>

<div class="form-group">
  <label for="txtPost">Event Category</label>
  <div class="dropdown categories">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" name="categ" id="categ">Available Categories
    <span class="caret"></span></button>
    <ul class="dropdown-menu" id="category">
      {%for row in categories%}
    <li><a href="#">{{ row }} </a></li>
        {% endfor %}
    </ul>
  </div>
    <input type="hidden" name="category_hid" id="category_hid" value="" type="text"></input>
</div>

<div class="form-group">
    <label for="txtPost">Event Thumbnail</label>

    <div class="input-group">
        <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
            Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
        </span>
        </span>
        <div class="pull-right">
</div>
<input type="hidden" name="filePath" id="filePath"></input>
    </div>

</div>
<div class="form-group">
    <img id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail">
</div>

<!-- Button -->
<div class="form-group">

    <p class="text-center">
        <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
    </p>
</div>


</form>
</div>
</div>
</div>
</div>
<!-- Log In Container Ends -->

</body>
<script>
$(function() {
    $('#fileupload').fileupload({
        url: 'upload',
        dataType: 'json',
        add: function(e, data) {
            data.submit();
        },
        success: function(response, status) {
            var filePath = 'static/Uploads/' + response.filename;
            $('#imgUpload').attr('src',filePath);
            $('#filePath').val(filePath);
        },
        error: function(error) {
            console.log(error);
        }
    });
})

 $(function(){

    $("#location li a").click(function(){
      $(".locations .btn:first-child").text($(this).text());
      $(".locations btn:first-child").val($(this).text());
      $("#location_hid").val($(this).text());
   });

});

  $(function(){

    $("#category li a").click(function(){

      $(".categories .btn:first-child").text($(this).text());
      $(".categories btn:first-child").val($(this).text());
      $("#category_hid").val($(this).text());

   });

});
</script>
</html>
