<!DOCTYPE html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Schedule Manager</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- StyleSheet -->
<link rel="stylesheet" href="static/css/bootstrap.css" />
<link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
<style>
body{background-color: #F7F7F6;}
.login{padding-top: 65px;}
.center{float: none; margin-left: auto; margin-right: auto;}
</style>
</head>

<body>
<!-- Nav Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </a>

    <a href="#" class="brand">Schedule Manager</a>

    <div class="nav-collapse collapse pull-right">
        <ul class="nav">
            <li><a href="{{sign_up_redir}}"><i class="icon-user icon-white"></i> Sign Up</a></li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
    </div>
  </div>
</div>
<!-- Nav Bar Ends -->

<!-- Log In Container -->
<div class="container login">
    <div class="row ">
        <div class="center span4 well">
            <legend>Please Log In</legend>
            {% if incorrect %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div>
            {% endif %}
            <form method="POST" action="{{action_name}}" accept-charset="UTF-8">
            <input type="text" id="login_username" class="span4" name="login_username" placeholder="Username" />
            <input type="password" id="login_password" class="span4" name="login_password" placeholder="Password" />
            <button type="submit" name="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
        </div>
    </div>
</div>
<!-- Log In Container Ends -->

<!-- JavaScript -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.js"></script>
</body>
</html>
